.details {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h1 span {
  color: #ff8c00;
}

.trait {
  width: 50px;
  height: 2px;
  background-color: #ff8c00;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-de {
  flex: 1;
  margin-right: 20px;
}

.img-D {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.details-content {
  flex: 1;
  text-align: left;
}

.titre {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 10px;
}

.prix {
  font-weight: bold;
  margin-bottom: 10px;
}

.select-container {
  margin-bottom: 10px;
}

.taille {
  font-weight: bold;
  margin-bottom: 5px;
}

.taille-select {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  font-size: 16px;
}

.quantite-container{
  margin-top: 10px;
}
.quantite-container  input{
  width: 50px;
  height: 30px;
  font-size: 14px;
  padding: 5px;
}

.quantite {
  width: 50px;
  height: 30px;
  font-size: 14px;
  padding: 5px;
}

.btn-container {
  margin-top: 20px;
}

.btn-d {
  background-color: var(--bs-warning);
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 200px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-d:hover {
  background-color: #ff6f00;
}

.btn {
  text-decoration: none;
  color: #ff8c00;
  border: 1px solid #ff8c00;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-grey-1);
  color: #fff;
}
