

.apropos{
    height: 100vh;
}
.trait{
   
    margin: 2rem 7rem 2rem 7rem;
    height: 3px;
    background-color: var(--bs-warning);
}
.text{
    width: 340px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Poppins';
    font-weight: 400;
}
.text i{
    color: var(--bs-warning);
}
h1{
    text-transform: uppercase;
}
span{
    color: var(--bs-warning);

}
.img-con{
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--clr-grey-1);
    /* width: 100%; */
    
}
.img-d{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2px;
}
.img-p-1{
    border-radius: 4px;
}
.img-p{
    width: 200px;
    height: 185px;
    border-radius: 4px;
}
.container-ap{
    margin-top: 4rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}