
  .home-head {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 5rem; */
    background-image: url("../../../public/assets/font1.JPEG" );
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 225vh;
    height: 100vh;
  }
  
  .information {
    flex: 1;
    text-align: center;
    padding: 2rem;
    float: right;
    margin-top: 10rem;
    
  }
  
  .information h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .information span {
    color: var(--clr-grey-1);
  }
  
  .information h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .p-h {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .explore {
    margin-top: 2rem;
  }
  
  .explore a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--bs-warning);
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
  }
  
  .C-offre {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .low {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
  
  #p-offre {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .container-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    text-align: center;
  }
  
  .img {
    height: 250px;
    object-fit: cover;
    /* width: 100%; */
    background-size: cover;
  }
  
  .titre {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .prix {
    margin-top: 0.5rem;
  }
  
  .btn-home {
    margin-top: 1rem;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--bs-warning);
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
  }
  