/* *{
    box-sizing: border-box;
} */
.container-service{
    height: 120vh;
}
.container-service img{
    width: 120px;
    height: 110px;
}
.icon-s {
    display: flex;
    gap: 1rem;
}
.icon-s i{
    color: black;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
    transition: color 0.5s;
}
.icon-s i:active{
    color: #ff0000;
}
.service-one{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 4rem;
    margin-top: 2rem;
    width: 1100px;
    height: 8.5rem;
}
.para{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 900;

}