 
.footer{
    background: var(--clr-grey-1);
    margin: 0;
    padding: 0;
    color: white;
    height: max-content;
    /* min-height: 5rem;*/
    position: absolute;
    bottom: -100;  right: 0; 
    width: 100%;
    flex-shrink: 0;
}
.foot{
    display: flex;
   flex-wrap: wrap-reverse;
   justify-content: space-around;
   text-align: center;
   
}
.media{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
    font-size: 25px;
}
.new{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.i-foot{
    width: 50%;
    padding: .50rem;  
    border-radius: 15px; 
   background: transparent;
   color: #fff;
   border: 1px solid #ff8c00;
}
button{
    border-radius: 15px; 
    border: none;
    width: 20%;
    background: #ff8c00;
    font-size: 22px;
    color: #fff;
}
.copy{
    text-align: center;
}
h3{
    text-align: center;
}