
.conn{
    height: 40vh;
}
.container-conn{
    width: 400px;
    height: 210px;
    box-shadow: 0 1px 1px #0505050a, 0 3px 3px #05050517;    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
    font-family: 'Poppins';
   
}
.container-conn p{
    text-align: center;
}
.container-conn input{
    width: 100%;
    border:none;
    outline: none;
    margin-bottom: 1rem;
    border-bottom: 1px var(--clr-grey-1) solid;
}
.container-conn input:hover{
    border-bottom: 2px var(--bs-warning) solid;
}
.btn-ins{
    background: var(--bs-warning);
    border: none;
    font-family: 'Poppins';
    font-size: 20px;
    cursor: pointer;
}