
body{
    margin: 0; padding: 0;
    width: 100%;
}
.container-contact{
    height: 150vh;
    /* display: flex; */
}
.contact-con{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
input{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Poppins';
}
textarea{
    margin-top: 1rem;
    width: 310px;
    height: 200px;
}
.btn-contact{
    background-color: #ff8c00;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 18px;
    width: 310px;
    border: none;
}
.coordonner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    align-items: center;
    font-family: 'Poppins';
    text-align: justify;
    /* gap: 4rem; */
}
 #p{
    font-weight: bold;
    font-size: 20px;
    line-height: 1em;
}
.coor{
    padding: 18px 54px;
    border-radius: 2px;
    color: #fff;
    background-color: #ff8c00;
    display: inline-block;
    text-transform: uppercase;
    padding: 12px 20px;
    white-space: nowrap;
}