:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: #183661;
  --clr-grey-2: #DCDCDCDC;
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --logo-color: blue;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #FFC107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}



body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 
.entete{
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin-left: 2rem;
  margin-right: 2rem;
  background: white;
  align-items: center;
}
.entete-con{
  display: flex;
  gap: 2rem;
}
.tel{
  display: flex;
  align-items: center; 
  gap:1px;
}
.logo-div{
  display: flex;
  align-items: center;
  margin-left: 2rem;
 }
 .header-one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 4rem;
  color: #fff;
  /* margin-left: 2rem;
  margin-right: 2rem; */
  background: var(--clr-grey-1);
 }
 .connexion{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .con{
  width: 7rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 10rem;
  color: #333;
  font-family: 'Poppins';
  font-size: 20px;
  background:var( --bs-warning) ;
 }
 input{
  width: 35%;
  height: 3rem;
  border-radius: 20px;
  border: none;
  text-align: center;
 }
 .logo-div p{
  font-size: 25px;
  font-family: 'Poppins';
 }
 .logo{
  background:var( --bs-warning) ;
 }
 .md-s{
  width: 35px;
  height: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #d8dcdf;
 }
 .media{
  display: flex;
  gap: 1rem;
 }
 .NavLink{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
 }
 li{
  text-decoration: none;
  list-style-type: none;
}
 a{
  font-size: 20px;
  font-family: 'Poppins';
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
.header-two{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: var(--clr-grey-2);
}
.cat{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
  font-family: 'Poppins';
  font-size: 20px;
}
select{
  height: 2.5rem;
  width: 8rem;
  background:var( --bs-warning) ;
  border: none;
  text-align: center;
}
option {
  background: var(--clr-grey-1);
  font-size: 20px;
  color: #fff;
}